{% extends "nfdrenderers/pdf/base.html" %}
{% load i18n %}

{% block layout_style %}
<style type="text/css">
    @page {
        size: landscape;
        margin-top: 2.5cm;
        margin-right: 0.8cm;
        margin-left: 0.8cm;
        margin-bottom: 1cm;
    }
    #occurrences {
        border: #0a0b30 solid 1px;
        font-size: small;
    }
    strong {
        color: #1D5C1E;
    }

</style>
{% endblock%}


{% block content %}

<h1>Natural Features Report</h1>
{% if filters|length > 0 %}
    <p>
        <strong>Filters</strong><br>
        <ul>
            {% if filters.natural_area_code_nac %}
                <li>Natural area code: <strong>{{ filters.natural_area_code_nac }}</strong></li>
            {% endif %}
            {% if filters.reservation %}
                <li>Reservation: <strong>{{ filters.reservation }}</strong></li>
            {% endif %}
            {% if filters.watershed %}
                <li>Watershed: <strong>{{ filters.watershed }}</strong></li>
            {% endif %}
            {% if filters.global_status %}
                <li>Global Status: <strong>{{ filters.global_status }}</strong></li>
            {% endif %}
            {% if filters.state_status %}
                <li>State Status: <strong>{{ filters.state_status }}</strong></li>
            {% endif %}
            {% if filters.cm_status %}
                <li>CM Status: <strong>{{ filters.cm_status }}</strong></li>
            {% endif %}
            {% if filters.observer %}
                <li>Observer: <strong>{{ filters.observer }}</strong></li>
            {% endif %}
            {% if filters.observation_date %}
                <li>Observation date: <strong>{{ filters.observation_date }}</strong></li>
            {% endif %}
        </ul>
    </p>
{% endif %}
<p>
    <strong>Occurrences</strong><br>
    {% if occurrences|length > 0 %}
        <table repeat="1" id="occurrences">
            <tr>
                {% if "list_id" in table_columns %}
                    <th style="width: 30px">List ID</th>
                {% endif %}
                {% if "db_id" in table_columns %}
                    <th style="width: 30px">DB ID</th>
                {% endif %}
                {% if "natural_area_code" in table_columns %}
                    <th>Natural area code</th>
                {% endif %}
                {% if "general_description" in table_columns %}
                    <th>General description</th>
                {% endif %}
                {% if "observation_date" in table_columns %}
                    <th>Observation date</th>
                {% endif %}
                {% if "observer" in table_columns %}
                    <th>Observer</th>
                {% endif %}
                {% if "site_description" in table_columns %}
                    <th>Site description</th>
                {% endif %}
                {% if "reservation" in table_columns %}
                    <th>Reservation</th>
                {% endif %}
                {% if "watershed" in table_columns %}
                    <th>Watershed</th>
                {% endif %}
                {% if "state_status" in table_columns %}
                    <th>State Status</th>
                {% endif %}
                {% if "federal_status" in table_columns %}
                    <th>Federal Status</th>
                {% endif %}
                {% if "global_status" in table_columns %}
                    <th>Global Status</th>
                {% endif %}
                {% if "cm_status" in table_columns %}
                    <th>CM Status</th>
                {% endif %}
                {% if "latitude" in table_columns %}
                    <th style="width: 70px">Latitude</th>
                {% endif %}
                {% if "longitude" in table_columns %}
                    <th style="width: 70px">Longitude</th>
                {% endif %}
            </tr>
            {% for occurrence in occurrences %}
            <tr>
                {% if "list_id" in table_columns %}
                    <td>{{ occurrence.index}}</td>
                {% endif %}
                {% if "db_id" in table_columns %}
                    <td>{{ occurrence.id }}</td>
                {% endif %}
                {% if "natural_area_code" in table_columns %}
                    <td>{{ occurrence.natural_area_code_nac|default_if_none:"-" }}</td>
                {% endif %}
                {% if "general_description" in table_columns %}
                <td>{{ occurrence.general_description|default_if_none:"-" }}</td>
                {% endif %}
                {% if "observation_date" in table_columns %}
                    <td>{{ occurrence.observation_date|default_if_none:"-" }}</td>
                {% endif %}
                {% if "observer" in table_columns %}
                    <td>{{ occurrence.observer|default_if_none:"-" }}</td>
                {% endif %}
                {% if "site_description" in table_columns %}
                    <td>{{ occurrence.site_description|default_if_none:"-" }}</td>
                {% endif %}
                {% if "reservation" in table_columns %}
                    <td>{{ occurrence.reservation|default_if_none:"-" }}</td>
                {% endif %}
                {% if "watershed" in table_columns %}
                    <td>{{ occurrence.watershed|default_if_none:"-" }}</td>
                {% endif %}
                {% if "state_status" in table_columns %}
                    <td>{{ occurrence.state_status|default_if_none:"-" }}</td>
                {% endif %}
                {% if "federal_status" in table_columns %}
                    <td>{{ occurrence.federal_status|default_if_none:"-" }}</td>
                {% endif %}
                {% if "global_status" in table_columns %}
                    <td>{{ occurrence.global_status|default_if_none:"-" }}</td>
                {% endif %}
                {% if "cm_status" in table_columns %}
                    <td>{{ occurrence.cm_status|default_if_none:"-" }}</td>
                {% endif %}
                {% if "latitude" in table_columns %}
                    <td>{{ occurrence.latitude|default_if_none:"-"|floatformat:"3" }}</td>
                {% endif %}
                {% if "longitude" in table_columns %}
                    <td>{{ occurrence.longitude|default_if_none:"-"|floatformat:"3" }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>The current filters did not match any occurrences</p>
    {% endif %}
</p>

{% endblock content %}
