.form-title {
    width: 100%;
    text-align: center;
    background-color: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    margin: 2px 0px;
    font-size: 20px;
}
.nfdraw-tools-title {
    font-weight: 600;
}
.nfdraw-tools-buttons {
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nf-errors {
    padding: 0px;
    color: #ff0000;
}

.dock-panel-footer {
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-bottom: 5px;
    background-color: white;
}

.dock-panel-footer-buttons{
    width: 100%;
}
.dock-panel-footer-buttons button{
    margin-top: 5px;
}
.nf-historic {
    margin-top: 5px;
    width: 100%;
}

.nf-historic-date {
    margin-left: 10px;
    margin-right: 10px;
}
.nf-tab-content form{
margin-top: 10px;
background-color: rgba(204, 204, 204, 0.18);
padding: 2px;
}
.nf-tab-content .form-control{
    height: 28px;
    font-size: 14px;
}
.nf-tab-content .form-control[disabled], .nf-tab-content .form-control[readonly], .nf-tab-content fieldset[disabled] .form-control{
    opacity: 0.5;
}
.nf-tab-content label.readonly{
    opacity: 0.7;
}
.nf-tab-content .radio label, .nf-tab-content .checkbox label {
    font-weight: bold;
    padding-left: 10px;
}
.label-col {
    overflow: hidden;
    text-overflow: ellipsis;
}
/* tablets and desktop */
@media only screen and (min-width: 768px) {
    .nf-tab-content {
        padding: 2px 10px;
    }
}

/* phones */
@media only screen and (max-width: 767px) {
    .nf-tab-content {
        padding: 2px;
    }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .nf-tab-content {
        padding: 2px;
    }
}
