.nfdraw-tools-title {
    font-weight: 600;
}
.nfdraw-tools-buttons {
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nf-errors {
    padding: 0px;
    color: #ff0000;
}

.dock-panel-footer {
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-bottom: 5px;
    background-color: white;
}

.dock-panel-footer-buttons{
    width: 100%;
}
.dock-panel-footer-buttons button{
    margin-top: 5px;
}
.nf-historic {
    margin-top: 5px;
    width: 100%;
}

.nf-historic-date {
    margin-left: 10px;
    margin-right: 10px;
}



/* tablets and desktop */
@media only screen and (min-width: 768px) {
    .nf-tab-content {
        padding: 0px 10px;
    }
}

/* phones */
@media only screen and (max-width: 767px) {
    .nf-tab-content {
        padding: 2px;
    }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .nf-tab-content {
        padding: 2px;
    }
}
