@font-face {
  font-family: 'mapstore2';
  src:  url('nf-icons/icon.eot?ebfeeb');
  src:  url('nf-icons/icon.eot?ebfeeb#iefix') format('embedded-opentype'),
    url('nf-icons/icon.ttf') format('truetype'),
    url('nf-icons/icon.woff') format('woff'),
    url('nf-icons/icon.svg?ebfeeb#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glyphicon-"], [class*=" glyphicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mapstore2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-cleveland:before {
  content: "\e901";
}
.glyphicon-paw:before {
  content: "\e900";
}
